.sushi-view {

    &__menu--header{
        height: 70px;
        display: flex;
        align-items: center;
        margin: 0 20px;

    }

    &__menu1 {
        margin: 10px 0px;
        font-size: 18px;
    }

    &__menu2 {
        margin: 10px 0px ;
        font-size: 18px;
        list-style-type: circle;
    }
   
    &__ul {    
        padding-left: 30px;
    }

    
    &__menu_boczne--zamow {
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }

    &__baner img {
        width: 100%;
    }

}


.sushi_cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    // justify-content: space-between;
    // align-items: stretch;
    margin: 0 -10px;
}

.sushi_card {
    min-height: 400px;
    max-width: calc(33.3% - 20px);
    flex: 1 1 calc(33.333% - 20px); // Domyślnie trzy elementy na szerokość, uwzględniając margines
    margin: 10px;
    box-sizing: border-box;

    &--title {
        font-size: 1.3em;
        color: black;
        padding: 14px 0 0 0;
        min-height: 120px;
    }

    &--price {
        color: #c19d56;
        font-weight: 700;
        font-size: 1.786em;
        text-align: center;
        font-family: 'Great Vibes';
    }

    &--romb {
        margin: -5px 0;
        height: 8px;
        width: 8px;
        background-color: #C19D56;
        transform: rotate(45deg);
    }

    &--line {
        content: '';
        width: 20%; // Początkowa szerokość
        height: 2px;
        background: #c19d56;
        transition: width 0.5s ease; // Animacja szerokości

    }

    &--button {
        width: 100%;
        color: black;
        border: 2px solid black;
        font-size: 14px;
        font-weight: bold
        
    }
}


// Dwa elementy na szerokość dla mniejszych ekranów
@media screen and (max-width: 950px) { // Ajustuj punkt przerwania według potrzeb
    .sushi_card {
        flex-basis: calc(50% - 20px); // Dwukolumnowy układ
        width: 20%;
        max-width: calc(50% - 20px);
    }
}

// Jeden element na szerokość dla bardzo wąskich ekranów
@media screen and (max-width: 700px) { // Ajustuj punkt przerwania według potrzeb
    .sushi_cards {
        display: flex;
        justify-content: center;
        margin: 0px;
    }

    .sushi_card {
        flex-basis: 100%; // Jednokolumnowy układ
        max-width: 360px;
        width: 100%;
        margin: 14px 0;
    }
    
}


.sushi-view__ilosc-wynikow {
    display: block;

}

@media screen and (max-width: 1240px) {
    .sushi-view__ilosc-wynikow {
        display: none;
    }
}

// .sushi-view__menu1 {
//     margin: 10px 0px;
//     font-size: 18px;
// }

// .sushi-view__menu2 {
//     margin: 10px 0px ;
//     font-size: 18px;
//     list-style-type: circle;
// }

// .sushi-view__ul {    
//     padding-left: 30px;
// }
// .sushi-view__menu2::before {
//     content: "•";
//     color: black; /* Możesz zmienić kolor na dowolny, jaki chcesz */
// }