.map__panel {
    color:black
}

.map__panel label {
    padding: 5px;
    margin: 5px;
}

.map__panel input {
    padding: 5px;
    margin: 5px;
    background: #aaa;
}

.map__panel button {
    padding: 5px;
    margin: 5px;
    border: 2px solid black;
}